<div class="container">



  <label>Enter Your Id:</label> <input type="text" name="pseudo" />

  <button type="button" class="btn btn-primary">Alertes</button>

</div>

<div class="container2">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Occurence</th>
        <th scope="col">Last Update</th>
        <th scope="col">alarm state</th>
        <th scope="col">alarm type</th>
        <th scope="col">acked</th>
      </tr>
    </thead>
    <tbody>


    </tbody>
  </table>
  <div class="container3">
    <p>
      S'il vous plait entrez votre Id pour voir l'état de votre passerelle



    </p>
  </div>
</div>